body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.square {
  width: 15em;
  height: 15em;
  background-color: gray; /* Add your desired background color */
  color: white; /* font color */
  border-radius: 10px; /* Adjust the radius to curve the edges */
  font-size: 1.25vw;
  margin: 0.25em;
  padding: 0.5em;
  display: flex;
  flex-direction: column; /* Align children at the start and end of the container */
  justify-content: space-between;
  align-items: flex-start
}

.archive-square {
  width: 15em;
  height: 15em;
  background-color: #61B061; /* Add your desired background color */
  color: white; /* font color */
  border-radius: 10px; /* Adjust the radius to curve the edges */
  font-size: 1.25vw;
  margin: 0.25em;
  padding: 0.5em;
  display: flex;
  flex-direction: column; /* Align children at the start and end of the container */
  justify-content: space-between;
  align-items: flex-start
}

.list-title {
  font-size: 3vw;
  padding: 0.5em;
  background-color: lightsteelblue;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.done-button{
  border-radius: 10px;
  background-color: white;
  color: darkslategray;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.list-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dash-button{
  margin-left: 0.5em;
  background-color: #97ACC7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.25em;
  user-select: none;
  font-size: 1.25vw;
  height: 1.5em;
}

.dash-button:hover{
  background-color: #718CB0;
}

.task-button{
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.25em;
  margin-right: 0.5em;
  user-select: none;
}

.archive-task-button{
  background-color: #68E868;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.25em;
  margin-right: 0.5em;
  user-select: none;
}

.task-button:hover{
  background-color: #8E8E8E;
}

.archive-task-button:hover{
  background-color: #5BD75B;
}

.desc{
  flex-grow: 1;
}

.edit-form {
  flex-grow: 1;
}

.button-container{
  display: flex;
  flex-direction: row;
}
